@use '../abstracts';

.footer {
  background-color: abstracts.$light-opaque;
  padding: 2rem;

  &__title {
    font-size: 1.2rem;
    margin-bottom: 1em;
    text-align: center;
  }

  &__links {
    display: flex;
    gap: 1rem;
    justify-content: center;
    list-style: none;

    &__item__link {
      cursor: pointer;

      > svg {
        width: 3rem;
        > path {
          fill: abstracts.$lighter;
        }
      }

      &:hover,
      &:focus {
        > svg > path {
          fill: abstracts.$accent;
        }
      }
    }
  }
}
