@use '../abstracts';

.weather-map {
  @include abstracts.centralize;

  &__title {
    margin-bottom: 1rem;
  }

  &__map {
    height: 500px;
    max-height: 80vw;

    &__legend {
      background-clip: padding-box; // same as leaflet components
      background-color: abstracts.$lighter;
      border: 2px solid rgba(0, 0, 0, 0.2); // same as leaflet components
      border-radius: 5px; // same as leaflet components
      color: abstracts.$darker;
      padding: 0.5em;

      &__values {
        display: flex;
        gap: 1em;
        justify-content: space-between;
      }

      &__scale {
        border: 1px solid abstracts.$darker;
        border-radius: 0.5em;
        height: 0.5em;

        &--precipitation {
          background-image: linear-gradient(
            to right,
            rgba(225, 200, 100, 0),
            rgba(200, 150, 150, 0),
            rgba(150, 150, 170, 0),
            rgba(120, 120, 190, 0),
            rgba(110, 110, 205, 0.3),
            rgba(80, 80, 225, 0.7),
            rgba(20, 20, 255, 0.9)
          );
        }

        &--temperature {
          background-image: linear-gradient(
            to right,
            rgba(130, 22, 146, 1),
            rgba(130, 87, 219, 1),
            rgba(32, 140, 236, 1),
            rgba(32, 196, 232, 1),
            rgba(35, 221, 221, 1),
            rgba(194, 255, 40, 1),
            rgba(255, 240, 40, 1),
            rgba(255, 194, 40, 1),
            rgba(252, 128, 20, 1)
          );
        }

        &--clouds {
          background-image: linear-gradient(
            to right,
            rgba(255, 255, 255, 0),
            rgba(253, 253, 255, 0.1),
            rgba(252, 251, 255, 0.2),
            rgba(250, 250, 255, 0.3),
            rgba(249, 248, 255, 0.4),
            rgba(247, 247, 255, 0.5),
            rgba(246, 245, 255, 0.75),
            rgba(244, 244, 255, 1),
            rgba(243, 242, 255, 1),
            rgba(242, 241, 255, 1),
            rgba(240, 240, 255, 1)
          );
        }

        &--wind {
          background-image: linear-gradient(
            to right,
            rgba(255, 255, 255, 0),
            rgba(238, 206, 206, 0.4),
            rgba(179, 100, 188, 0.7),
            rgba(179, 100, 188, 0.7),
            rgba(63, 33, 59, 0.8),
            rgba(116, 76, 172, 0.9),
            rgba(70, 0, 175, 1),
            rgba(13, 17, 38, 1)
          );
        }

        &--pressure {
          background-image: linear-gradient(
            to right,
            rgba(0, 115, 255, 1),
            rgba(0, 170, 255, 1),
            rgba(75, 208, 214, 1),
            rgba(141, 231, 199, 1),
            rgba(176, 247, 32, 1),
            rgba(240, 184, 0, 1),
            rgba(251, 85, 21, 1),
            rgba(243, 54, 59, 1),
            rgba(198, 0, 0, 1)
          );
        }
      }
    }
  }
}
