$default-color: rgb(217, 217, 217);
$secondary-color: rgb(37, 37, 37);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    background-size: 100% 100%;
    background-position: center;
    min-height: 100vh;
    display: grid; // This will make the content fill screen for big sizes

    > .background {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba($secondary-color, 0.8);
        width: 100%;
    }
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba($default-color, 0.2);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem 2rem;
    transition: background-color 0.5s ease-in-out;
}

#title-box {
    display: flex;
    align-items: center;
    gap: 1rem;

    > svg {
        width: 2.5rem;

        > path {
            fill: #d9d9d9;
        }
    }
} 

#search-box {
    margin-top: 1rem;
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr auto;
    align-self: center;
    padding-left: 5rem;

    > .input-container {
        position: relative;
    }

    svg {
        position: absolute;
        top: 0;
        left: 0.25rem;
        height: 100%;
    }

    input {
        padding: 0.5rem 0 0.5rem 3rem;
        color: $secondary-color;
        background-color: $default-color;
        border: none;
        border-radius: 1rem 0 0 1rem;
        width: 100%;

        &:focus {
            outline: none;
        }
    }

    > button {
        border: none;
        background-color: $secondary-color;
        padding: 0 2rem;
        font-weight: bold;
        border-radius: 0 1rem 1rem 0;
        cursor: pointer;
    }    
} 

#error-box {
    grid-column: span 2;
    padding-left: 2rem;
    width: 100%;
    height: 1rem;
    color: orange;
}

#main-information {
    display: grid;
    grid-template-areas: 
        "city city"
        "icon temp"
        "desc desc"
        "updt updt";
    grid-template-columns: 1fr 1fr;
    margin-top: 7rem;

    > * {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    > .location {
        grid-area: city;
        margin-bottom: -1rem;
    }

    > .icon {
        grid-area: icon;
    }

    > .temperature {
        grid-area: temp;
        font-size: 3rem;
    }

    > .description {
        grid-area: desc;
        margin-top: -1rem;
        font-weight: bold;
        margin-bottom: 0.2rem;
    }

    > .update-time {
        grid-area: updt;
    }
}

#additional-information {
    background-color: rgba($default-color, 0.2);
    margin: 3rem 1rem;
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem 2rem;

    > div > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    > div > div > span:first-child {
        display: flex;
        align-items: center;
        margin-right: 1.5rem;
    }

    svg {
        height: 1rem;
        margin-right: 0.5rem;
    }

    path {
        fill: #d9d9d9;
    }
}

#forecast-information {
    width: calc(75vw + 2rem);
    display: flex;
    flex-direction: column;
    position: relative;
}

#forecast-carousel {
    display: grid;
    grid-template-areas: "previous   slider   next"
                         "    .     controls    . ";
    grid-template-columns: 2rem calc(100% - 4rem) 2rem;

    > #next {
        grid-area: next;
        border-radius: 0 50% 50% 0;
    }

    > #previous {
        grid-area: previous;
        border-radius: 50% 0 0 50%;
    }

    > button {
        background-color: rgba($default-color, 0.6);
        border: none;
        height: calc(100% - 2rem);
        align-self: center;
        cursor: pointer;

        > svg > path{
            fill: rgba($secondary-color, 0.6);
        }
    }

    > #forecast-slider {
        grid-area: slider;
        overflow: hidden;
        padding: 1rem 0;
    }

    > #forecast-controls {
        grid-area: controls;
        margin: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }
}

#forecast-container {
    position: relative;
    display: flex;
    right: 0;
    transition: right 1s ease-in-out;
}

.forecast-content {
    padding: 2rem 0;
    margin-right: 2rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba($default-color, 0.2);
    width: calc(15vw - 2rem);
}

#forecast-controls {
    > button {
        flex-shrink: 0;
        border: none;
        border-radius: 1rem;
        width: 2rem;
        height: 1rem;
        background-color: rgba($default-color, 0.2);
        cursor: pointer;
    }
}

#background-legend {
    opacity: 0.5;
    margin: 2rem 0;
}

#loading {
    position: fixed;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    transition: height 0.5s ease-out;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    p, h2 {
        color: $secondary-color;
        text-align: center;
        font-weight: bold;
        padding: 1rem;
    }

    > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    // While I don't learn doing it myself: 
    // https://www.w3schools.com/howto/howto_css_loader.asp
    .loader {
        border: 16px solid #d9d9d9;
        border-top: 16px solid $secondary-color;
        border-right: 16px solid $secondary-color;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }
    
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}

